{% if not url %}
<div class="card d-flex justify-content-center m-3 p-3 border bg-light rounded w-25 ">
    <h5>Load Data</h5>
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        {{ form.base_data }}
        <button type="submit" class="btn btn-primary m-3 p-2">
            submit
        </button>
    </form>
</div>

{% else %}

<div class="card d-flex justify-content-center m-3 p-3 border bg-light rounded w-25">
    <h3> How many clusters do you see ? </h3>
    <form action="{% url 'results' %}" method="POST">
        {% csrf_token %}
        <div class="">

        </div>
        {{ form.base_data }}
        {{ form.number_of_expected_clusters }}
        <button type="submit" class="btn btn-primary m-3 p-2 ">
            submit
        </button>
    </form>
</div>

{% endif %}