<div class="card d-flex justify-content-center m-3 p-3 border bg-light rounded w-25 ">
        {% if url %}
            <form action="{% url 'results' %}" method="POST">
                {% csrf_token %}
                <div class="m-3">
                    {{ form.base_data }}
                </div>
                <div class="m-3">
                    <h6> How many clusters do you see ? </h6>
                    {{ form.number_of_expected_clusters }}
                </div>
                <button type="submit" class="btn btn-primary m-3 p-2">
                    submit
                </button>
            </form>
        {% else %}
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <div class="m-3">
                <h5>Load Data</h5>
                {{ form.base_data }}
            </div>
            <button type="submit" class="btn btn-primary m-3 p-2">
                submit
            </button>
        </form>
        {% endif %}
</div>