<!DOCTYPE html>

<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Cluster Finder</title>
</head>

<body class="container d-flex flex-column justify-content-center text-center">


    <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}"> Welcome </a>
                </li>
            </ul>
        </div>
    </nav>





    <div class="container d-flex justify-content-between m-3 p-3 border bg-light rounded">
        <div class="d-flex flex-column w-100">
            <div class="d-flex flex-row justify-content-between w-100">
                {% include 'clusters_app/load_data_form.html' %}
                {% include 'clusters_app/dim_red_plot.html' %}
            </div>
            {% include 'clusters_app/data_table.html' %}
        </div>
    </div>


</body>

</html>